[Install]
WantedBy=multi-user.target


[Unit]
Description=Humot bot service configuration
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/humo_bot
ExecStart=/root/humo_bot/venv/bin/gunicorn -c asgi.py main:app

[Install]
WantedBy=multi-user.target
